In [15]:
#EDA
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
import os
os.getcwd()

'/content'

In [18]:
attrdata=pd.read_csv("drive/MyDrive/Table_1.csv")

In [19]:
attrdata.shape

(902, 16)

In [20]:
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left
0,1,sid,9876544345,Pune,B2,Operation,Male,0.00,< =1,6.08,Single,27.12,Direct,Non Promoted,Yes,Left
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay

In [21]:
attrdata.drop(0, inplace=True)  #to drop columns : drop

In [22]:
attrdata.isnull().sum()

table id                 0
name                     0
phone number             0
Location                 0
Emp. Group               0
Function                 0
Gender                   0
Tenure                   0
Tenure Grp.              0
Experience (YY.MM)       4
Marital Status           0
Age in YY.               0
Hiring Source            0
Promoted/Non Promoted    0
Job Role Match           2
Stay/Left                0
dtype: int64

In [23]:
attrdata.dropna(axis=0,inplace=True)

In [24]:
attrdata.isnull().sum()

table id                 0
name                     0
phone number             0
Location                 0
Emp. Group               0
Function                 0
Gender                   0
Tenure                   0
Tenure Grp.              0
Experience (YY.MM)       0
Marital Status           0
Age in YY.               0
Hiring Source            0
Promoted/Non Promoted    0
Job Role Match           0
Stay/Left                0
dtype: int64

In [25]:
attrdata.shape

(895, 16)

In [26]:
gender_dict=attrdata["Gender "].value_counts()
gender_dict  #categorical data

Gender
Male      655
Female    234
other       6
Name: count, dtype: int64

In [27]:
promoted_dict=attrdata["Promoted/Non Promoted"].value_counts()
promoted_dict

Promoted/Non Promoted
Promoted        457
Non Promoted    438
Name: count, dtype: int64

In [28]:
func_dict=attrdata["Function"].value_counts()
func_dict

Function
Operation    831
Support       52
Sales         12
Name: count, dtype: int64

In [29]:
Hiring_dict=attrdata["Hiring Source"].value_counts()
Hiring_dict

Hiring Source
Direct               708
Agency               116
Employee Referral     71
Name: count, dtype: int64

In [30]:
Marital_dict=attrdata["Marital Status"].value_counts()
Marital_dict

Marital Status
Single    533
Marr.     356
Div.        2
NTBD        2
Sep.        2
Name: count, dtype: int64

In [31]:
Emp_dict=attrdata["Emp. Group"].value_counts()
Emp_dict['other group'] = 1
print(Emp_dict)

Emp. Group
B1             537
B2             275
B3              59
B0               8
B4               7
B5               4
B7               2
B6               1
C3               1
D2               1
other group      1
Name: count, dtype: int64

In [32]:
job_dict=attrdata["Job Role Match"].value_counts()
job_dict

Job Role Match
Yes    480
No     415
Name: count, dtype: int64

In [33]:
tenure_dict = attrdata["Tenure Grp."].value_counts()
print(tenure_dict)

Tenure Grp.
> 1 & < =3    626
< =1          269
Name: count, dtype: int64

In [34]:
location_dict=attrdata["Location"].value_counts()
print(location_dict)

location_dict_new={
    'Chennai': 7,
    'Noida':   6,
    'Bangalore': 5,
    'Hyderbad':  4,
    'Pune': 3,
    'Madurai': 2,
    'Lucknow': 1,
    'other place': 0,
}
print(location_dict_new)
#Performed feature engineering here. converted string to int

Location
Chennai       255
Noida         236
Bangalore     210
Hyderabad      62
Pune           55
Madurai        29
Lucknow        20
Nagpur         14
Vijayawada      6
Mumbai          4
Gurgaon         3
Kolkata         1
Name: count, dtype: int64
{'Chennai': 7, 'Noida': 6, 'Bangalore': 5, 'Hyderbad': 4, 'Pune': 3, 'Madurai': 2, 'Lucknow': 1, 'other place': 0}

In [35]:
#Replace all str data types with numbers
def location(x):
  if str(x) in location_dict_new.keys():
    return location_dict_new[str(x)]
  else:
    return location_dict_new['other place']
data_1=attrdata['Location'].apply(location)
attrdata['New location']=data_1
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New location
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,Marr.,39.09,Direct,Promoted,No,Stay,5

In [36]:
gen=pd.get_dummies(attrdata["Function"])

In [37]:
hr=pd.get_dummies(attrdata["Hiring Source"])

In [38]:
def Mar(x):
  if str(x) in Marital_dict.keys() and Marital_dict[str(x)] > 100:
    return str(x)
  else:
    return 'other status'
data_1=attrdata['Marital Status'].apply(Mar)
attrdata['New Marital']=data_1
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New location,New Marital
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,Marr.,39.09,Direct,Promoted,No,Stay,5,Marr.

In [39]:
Mr=pd.get_dummies(attrdata["New Marital"])

In [40]:
def Promoted(x):
  if x == 'Promoted':
    return int(1)
  else:
    return int(0)
data_1=attrdata["Promoted/Non Promoted"].apply(Promoted)
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New location,New Marital
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,Marr.,39.09,Direct,Promoted,No,Stay,5,Marr.

In [41]:
# Employee Group
Emp_dict_new = {
    'B1': 4,
    'B2': 3,
    'B3': 2,
    'other group': 1,
}


def emp(x):
    if str(x) in Emp_dict_new.keys():
        return str(x)
    else:
        return 'other group'

data_l = attrdata["Emp. Group"].apply(emp)
attrdata['New EMP'] = data_l

emp = pd.get_dummies(attrdata["New EMP"])
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New location,New Marital,New EMP
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.,other group
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.,B3
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.,B2
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.,B2
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,Marr.,39.09,Direct,Promoted,No,Stay,5,Marr.,B3

In [42]:
#Gender
def Gen(x):
    if x in gender_dict.keys():
        return str(x)
    else:
        return 'other'

data_l = attrdata["Gender "].apply(Gen)
attrdata['New Gender'] = data_l
attrdata.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),Marital Status,Age in YY.,Hiring Source,Promoted/Non Promoted,Job Role Match,Stay/Left,New location,New Marital,New EMP,New Gender
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,Marr.,38.08,Direct,Promoted,No,Stay,6,Marr.,other group,Male
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,Marr.,36.04,Direct,Promoted,Yes,Stay,5,Marr.,B3,Male
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,Marr.,32.07,Direct,Promoted,Yes,Stay,6,Marr.,B2,Male
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,Marr.,32.05,Direct,Non Promoted,Yes,Stay,1,Marr.,B2,Male
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,Marr.,39.09,Direct,Promoted,No,Stay,5,Marr.,B3,Male

In [43]:
gend = pd.get_dummies(attrdata["New Gender"])

In [44]:
tengrp = pd.get_dummies(attrdata["Tenure Grp."])

In [45]:
dataset = pd.concat([attrdata, hr, Mr, emp, tengrp, gen, gend], axis = 1)

In [46]:
dataset.head()

,table id,name,phone number,Location,Emp. Group,Function,Gender,Tenure,Tenure Grp.,Experience (YY.MM),...,B3,other group,< =1,> 1 & < =3,Operation,Sales,Support,Female,Male,other
1,2,sid,9876544345,Noida,B7,Support,Male,0.00,< =1,13.00,...,False,True,True,False,False,False,True,False,True,False
2,3,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,16.05,...,True,False,True,False,True,False,False,False,True,False
3,4,sid,9876544345,Noida,B2,Operation,Male,0.01,< =1,6.06,...,False,False,True,False,True,False,False,False,True,False
4,5,sid,9876544345,Lucknow,B2,Operation,Male,0.00,< =1,7.00,...,False,False,True,False,True,False,False,False,True,False
5,6,sid,9876544345,Bangalore,B3,Operation,Male,0.01,< =1,9.01,...,True,False,True,False,True,False,False,False,True,False

In [47]:
dataset.columns

Index(['table id', 'name', 'phone number', 'Location', 'Emp. Group',
       'Function', 'Gender ', 'Tenure', 'Tenure Grp.', 'Experience (YY.MM)',
       'Marital Status', 'Age in YY.', 'Hiring Source',
       'Promoted/Non Promoted', 'Job Role Match', 'Stay/Left', 'New location',
       'New Marital', 'New EMP', 'New Gender', 'Agency', 'Direct',
       'Employee Referral', 'Marr.', 'Single', 'other status', 'B1', 'B2',
       'B3', 'other group', '< =1', '> 1 & < =3', 'Operation', 'Sales',
       'Support', 'Female', 'Male', 'other'],
      dtype='object')

In [48]:
dataset.drop(["table id", "name", "Marital Status","Promoted/Non Promoted","Function","Emp. Group","Job Role Match","Location"
              ,"Hiring Source","Gender ", 'Tenure', 'New Gender', 'New Marital', 'New EMP'],axis=1,inplace=True)

In [49]:
dataset.head()

,phone number,Tenure Grp.,Experience (YY.MM),Age in YY.,Stay/Left,New location,Agency,Direct,Employee Referral,Marr.,...,B3,other group,< =1,> 1 & < =3,Operation,Sales,Support,Female,Male,other
1,9876544345,< =1,13.00,38.08,Stay,6,False,True,False,True,...,False,True,True,False,False,False,True,False,True,False
2,9876544345,< =1,16.05,36.04,Stay,5,False,True,False,True,...,True,False,True,False,True,False,False,False,True,False
3,9876544345,< =1,6.06,32.07,Stay,6,False,True,False,True,...,False,False,True,False,True,False,False,False,True,False
4,9876544345,< =1,7.00,32.05,Stay,1,False,True,False,True,...,False,False,True,False,True,False,False,False,True,False
5,9876544345,< =1,9.01,39.09,Stay,5,False,True,False,True,...,True,False,True,False,True,False,False,False,True,False

In [50]:
dataset1 = dataset.drop(['Tenure Grp.', 'phone number'], axis = 1)

In [51]:
dataset1.columns

Index(['Experience (YY.MM)', 'Age in YY.', 'Stay/Left', 'New location',
       'Agency', 'Direct', 'Employee Referral', 'Marr.', 'Single',
       'other status', 'B1', 'B2', 'B3', 'other group', '< =1', '> 1 & < =3',
       'Operation', 'Sales', 'Support', 'Female', 'Male', 'other'],
      dtype='object')

In [52]:
# Target
"""
def Target(x):
    if x in "Stay":
        return False
    else:
        return True

data_l = dataset1["Stay/Left"].apply(Target)
dataset1['Stay/Left'] = data_l
"""
dataset1['Stay/Left'].head()

1    Stay
2    Stay
3    Stay
4    Stay
5    Stay
Name: Stay/Left, dtype: object

In [53]:
dataset1.to_csv("processed table.csv")

In [54]:
from google.colab import files
files.download('processed table.csv')

In [55]:
dataset = pd.read_csv("processed table.csv")
dataset = pd.DataFrame(dataset)
y = dataset["Stay/Left"]
X = dataset.drop("Stay/Left",axis=1)

In [56]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [57]:
X_train

,Unnamed: 0,Experience (YY.MM),Age in YY.,New location,Agency,Direct,Employee Referral,Marr.,Single,other status,...,B3,other group,< =1,> 1 & < =3,Operation,Sales,Support,Female,Male,other
684,688,4.09,26.06,5,False,True,False,False,True,False,...,False,False,False,True,True,False,False,True,False,False
220,224,2.08,26.00,6,True,False,False,False,True,False,...,False,False,True,False,True,False,False,False,True,False
476,480,7.11,29.06,2,False,True,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
431,435,3.00,25.02,6,False,True,False,False,True,False,...,False,False,False,True,True,False,False,True,False,False
868,872,7.00,28.06,5,False,True,False,True,False,False,...,False,False,False,True,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,364,15.04,37.02,5,False,True,False,True,False,False,...,True,False,False,True,True,False,False,False,True,False
709,713,3.02,27.09,7,False,True,False,False,True,False,...,False,False,False,True,True,False,False,False,True,False
439,443,7.06,34.06,5,True,False,False,True,False,False,...,False,False,False,True,True,False,False,False,True,False
174,178,3.10,28.00,7,False,True,False,True,False,False,...,False,False,True,False,True,False,False,False,True,False
122,125,4.10,28.09,5,False,True,False,False,True,False,...,False,False,True,False,True,False,False,True,False,False

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

In [59]:
lr=LogisticRegression(C = 0.1, random_state = 42, solver = 'liblinear')
dt=DecisionTreeClassifier()
rm=RandomForestClassifier()
gnb=GaussianNB()

In [60]:
for a,b in zip([lr,dt,rm,gnb],["Logistic Regression","Decision Tree","Random Forest","Naive Bayes"]):
    a.fit(X_train,y_train)
    prediction=a.predict(X_train)
    y_pred=a.predict(X_test)
    score1=accuracy_score(y_train,prediction)
    score=accuracy_score(y_test,y_pred)
    msg1="[%s] training data accuracy is : %f" % (b,score1)
    msg2="[%s] test data accuracy is : %f" % (b,score)
    print(msg1)
    print(msg2)

[Logistic Regression] training data accuracy is : 0.674581
[Logistic Regression] test data accuracy is : 0.642458
[Decision Tree] training data accuracy is : 1.000000
[Decision Tree] test data accuracy is : 0.597765
[Random Forest] training data accuracy is : 1.000000
[Random Forest] test data accuracy is : 0.631285
[Naive Bayes] training data accuracy is : 0.613128
[Naive Bayes] test data accuracy is : 0.553073

In [61]:
model = lr.fit(X_train,y_train)

import pickle
# save the model to disk
filename = 'finalized_model.pickle'
pickle.dump(model, open(filename, 'wb'))

In [62]:
import joblib
joblib.dump(model, 'finalized_model.pkl')

['finalized_model.pkl']

In [63]:
from google.colab import files
files.download('finalized_model.pkl')